title{a:a;
    
}
#title{a:a;
    .wrap{a:a;
        ul{a:a;
            li{a:a;
                a{a:a;

                }
                p{a:a;

                }
            }
        }
    }
}